#studentIndex {
  padding: 3em;
}
#studentIndex h1,
#studentIndex h2 {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: rgb(59, 117, 223);
}
#studentIndex #projectsDiv {
  margin-top: 1em;
}
#studentIndex #projectsDiv Button {
  float: right;
}
#studentIndex #noProject {
  color: gray;
  text-align: center;
}

.outdated {
  padding: 0.45rem;
  border-radius: 0.375rem;
  font-weight: bolder;
}